body {
	background-color: lightcyan;
}

img {
	border-radius: 100%;
	width: 130px;
	height: 140px;
}

h1 {
	color: #198585;
}

h3 {
	color: #4d9191;
}

table {
	cellspacing: 20;
}

hr {
	border-style: dotted none none;
	border-color: #198585;
	border-width: 10%;
	width: 5%;
}

a {
	text-decoration: none;
}
